<!DOCTYPE html>
<html lang="en">
<!--{{ url_for('static', filename='') }}-->

<head>
  <title>NVT CVE Testing web site</title>
  <link rel="shortcut icon" href="https://opgg-com-image.akamaized.net/attach/images/20220205005619.1692052.jpg">
  <meta property="og:image" content="https://i.pinimg.com/564x/bd/d3/22/bdd322f9c4863c826d314a20550ec679.jpg">
  <meta property="og:title" content="knu-testing-site">
  <meta property="og:description" content="let's test web site"">
  <meta charset=" utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='css/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="fix_mainNav">
    <div class="container">
      <!-- <a class="navbar-brand" href="/dream">Dream</a> -->
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/knu_upload">knu_upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/knu_post">knu_post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/knu_contact">knu_email</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/earth.jpg');">
    <div class="overlay" ></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>NVT CVE Testing web site</h1>
<!--            <h3 class="number"></h3>-->
            <span class="subheading"> KNU </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div style="text-align: center">
   </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <hr>
        <div class="post-preview">
          <a href="/knu_post">
            <h2 class="post-title">
              NVT CVE Testing web site
            </h2>
            <h3 class="post-subtitle">
              knu_post
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/knu_post">someone</a>
            Date, ex) 2022. 5. 18 </p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/knu_upload">
            <h2 class="post-title">
              knu_upload
            </h2>
            <h3 class="post-subtitle">
              knu_email
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/knu_upload">someone</a>
            Date, ex) 2022. 5. 18 </p>
        </div>
        <hr>
      </div>

    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/Jotter-Vortex" target="_blank">
                <span class="fa-stack fa-lg" >
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">KNU</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- import js file -->
  <script src="{{ url_for('static', filename='css/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ismobile.js') }}"></script>

</body>

</html>
