.widget3{
    flex: 2;
    padding: 10px;
    justify-content:center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #727272, 5px 5px 5px 5px rgba(0,0,0,0);
    //border-radius: 10px;
    background-color: white;

    .top{
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;

        .title{
            display: flex;
            font-size: 30px;
             color: rgb(66, 59, 59);
        }
    }

    .bottom{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(66, 59, 59);

        }
        .content{
            margin-top: 100px;
            color: rgb(181, 165, 165);
            .icon{
                margin-right: 20px;
                font-size: 35px;

            }
            
        }

    // .center{
    //     .title{
    //         font-weight: bold;
    //         font-size: 30px;
    //         padding-bottom: 10px;
    //     }
    //     .content{
    //         padding-top: 30px;
    //         padding-bottom: 50px;
    //     }
    //     .comment{
    //         padding-top: 30px;
    //     }
    // }
}