.Details{
    display: flex;
    width: 100%;
    //white-space: pre-wrap;



    background-color: #e1e1e6;  
    .DetailsContainer{
        flex:2;

        .TableContainers{
            padding: 20px;
            padding-top: 80px;



        }
    }

}

h1{
    font-size: 30px;
    margin-bottom: 20px;
}

p2{
    font-size: 18px;
}